@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Login";
}

<form method="post" action="/login/index">
    <div class="form-group">
        <label for="usuario">Usuário</label>
        <input type="text" name="usuario" value="" class="form-control" id="usuario" placeholder="Digite o seu nome de usuário">
        @Html.ValidationMessage("usuario")
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="senha" value="" class="form-control" id="password" placeholder="Digite o sua senha">
        @Html.ValidationMessage("senha")
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
   
</form>

<form method="get" action="/login/cadastrar">
  <button type="submit" class="btn btn-primary" enabled>Cadastrar</button>
</form>

@ViewBag.Mensagem